<div class="row text-center">
    <h1>Burgers!</h1>
</div>


<div class="container border">
    <div class="row col">
        <div class="col-6">
            <h2 class="d-flex justify-content-center">Burgers List!</h2>
            <div class="d-flex justify-content-between">
                <ol class="col-12">
                    {{#each burgers}}
                    {{#unless devoured}}
                    {{> burger-block devour=false}}
                    {{/unless}}
                    {{/each}}
                </ol>
            </div>
        </div>
        <div class="col-6">
            <h2 class="d-flex justify-content-center">Burgers Consumed List!</h2>
            <div class="d-flex justify-content-around">
                <ol class="col-12">
                    {{#each burgers}}
                    {{#if devoured}}
                    {{> burger-block devour=true}}
                    {{/if}}
                    {{/each}}
                </ol>
            </div>
        </div>
    </div>
</div>



<div class="row mt-5">
    <div class="row">
        <h2 class="d-flex justify-content-center">Add a Burger</h2>
    </div>
    <form class="create-form d-flex justify-content-center">

        <div class="row col-4">
            <div class="form-group">
                <div class="input-group col-6">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Burger Name</span>
                    </div>
                    <input class="form-control mt" type="text" id="ca" aria-label="With textarea" name="burger_name">

                </div>
                <div class="mt-2 d-flex justify-content-center">
                    <button class="btn btn-primary " type="submit">Add Burger</button>
                </div>
            </div>

        </div>
    </form>
</div>